@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Do not try and find the page. That’s impossible. Instead only try to realise the truth: .... There is no page</h2>

