@{
    ViewBag.Title = "Projects Page";
}

<div class="jumbotron">
    <h1>Projects</h1>
    <p class="lead">Quick Project Scheduler</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>
            Add in documentation
        </p>
    </div>

</div>